.BlogsPage{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:2.5rem;
    .blog{
        background-color: #161925;
        width:100%;
        padding:1rem;
        overflow:hidden;
        .blog-content{
        overflow:hidden;

            img{
                width:100%;
                transition: all .3s ease-in-out;
                &:hover{
                    transform:scale(1.15);

                }
                padding-bottom:2.3rem;
            }
            .blog-link{
                color:inherit;
                font-family: inherit;
                text-decoration: none;
                font-size: 1.6rem;
                padding-bottom: 2rem;
                transition: all .4s ease-in-out;

                &:hover{
                    color:#037FFF;
                   
                }
            }
        }
    }
}