.ContactItem{
    width: 100%;
    margin: 1rem 0;
    .contact{
        display: flex;
        align-items: center;
        background-color: #191D2B;
        padding:1rem 0;
        .right-items{
            margin-left: 2rem;
        }
        img{
            padding:1rem;
            border:1px solid #2e344e;
            margin-left: 2rem;
        }
    }
}
.ContactPage{
    display: flex;
    .contact-sect{
        width: 100%;
    }
    
}

.map-sect{
    width:80%;
    padding:2rem;
    background-color:#191D2B;
    iframe{
        width:100%;
        height:100%;
    }
}