.ProjectPage{

    
}

.projects{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 2rem;
    column-gap: 3rem;
    @media screen and (max-width: 1600px) {
    grid-template-columns: repeat(1,1fr);
      }
    @media screen and (max-width: 900px) {
    grid-template-columns: repeat(1,1fr);

      }
    .project{
        .image-data{
            position: relative;
            &::before{
                content:'';
                position: absolute;
                top:12px;
                left:15px;
                height:calc(100% - 30px);
                width:calc(100% - 30px);
                background-color:#0080ffb4;
                transform-origin:center;
                transform: scale(0);
                transition: all .3s ease-in-out;

            }

            &:hover::before{
                transform: scale(1)
            }
            img{
                width: 100%;
                height: 33.5vh;
                object-fit: cover;
                @media screen and (max-width: 900px) {

                    grid-template-columns: repeat(1,1fr);
                    width: 100%;
                    height: 27vh;
                    object-fit: cover;
                }
            }
            .hover-items{
                list-style: none;
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding:1rem 2rem;
                visibility:hidden;
                
                li{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);;
                    .aDiv{
                        &:not(:last-child){
                            margin-right: 2rem;
                        }
                        padding:1rem;
                        background-color: #10121B;
                        border-radius: 10px;
                        text-align: center;

                    }
                    a{  
                        text-decoration: none;
                        font-family: inherit;
                        color: white;
                    }
                }

            }
            &:hover{
                .hover-items{
                    transition: all 0.5s ease-in-out .2s;
                    visibility: visible;
                    top: 50%;
                }
            }
            
        }
       
        h5{ 
            
            margin-top:.5rem;
            font-size: 1.7rem;
            font-weight:400;
            color: white;
            transition: all .3s ease-in-out;

            &:hover{
                color:#037FFF;
                cursor: pointer;
            }
        }
    }
}

.btn-port{
    padding:.6rem 1.5rem;
    background-color:#0381ff;
    border:none;
    outline: none;
    cursor: pointer;
    font-size:inherit;
    font-family: inherit;
    color: white;
    margin-bottom: 1rem;
    transition:all .2s ease-in-out;
    &:not(:last-child){
        margin-right: 1rem;
    }
    &:hover{
        background-color:white;
        color:#0381ff;
    }
    &:active{
        background-color:white;
        color:#0381ff;
    }
    &:focus{
        background-color:white;
        color:#0381ff;
    }
    
}

.buttons{
    display: flex;
    justify-content:center;
    align-items: center;
    margin:4rem 10rem;
    flex-wrap: wrap;
    @media screen and (max-width:1300px){
        margin: 2rem 5rem;
    }
    @media screen and (max-width:1100px){
        margin: 2rem 5rem;
    }

}