.Title{
    text-transform: uppercase;
    font-size:3rem !important;
    color:white;
    position: relative;
    margin-top: 2rem;
    padding-bottom:.3rem;
    letter-spacing:2px;
    margin-bottom: 2rem;
    &::before{
        content:"";
        bottom:0;
        position: absolute;
        left:0;
        background-color:#0381ff60;
        width: 6rem;
        height: .4rem;
        border-radius:50px;
    }
    &::after{
        content:"";
        bottom:0;
        position: absolute;
        left:0;
        background-color:#037FFF;
        width: 3rem;
        height: .4rem;
        border-radius:50px;

    }
    h3{
        font-size:3rem !important;
    }
    @media screen and (max-width:600px){
        h3{
            font-size:2.5rem !important;
        }
    }
    span{
        position: absolute;
        top:23%;
        left:0;
        font-size:3.8rem;
        opacity:0.08;
    }
    @media screen and (max-width:600px){
        span{
            font-size:2.9rem;
        }
    }
}