.Title{
    text-transform: uppercase;
    font-size:3rem !important;
    color:white;
    position: relative;
    margin-top: 2rem;
    padding-bottom:1rem;
    letter-spacing:2px;
    &::before{
        content:"";
        bottom:0;
        position: absolute;
        left:0;
        background-color:#0381ff60;
        width: 6rem;
        height: .4rem;
        border-radius:50px;
    }
    &::after{
        content:"";
        bottom:0;
        position: absolute;
        left:0;
        background-color:#037FFF;
        width: 3rem;
        height: .4rem;
        border-radius:50px;

    }
    span{
        position: absolute;
        top:15%;
        left:0;
        font-size:4.5rem;
        opacity:0.1
    }
}