@import './styles/layout';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    color: #a4acc4;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: .2rem;
}
